*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.clearfix::after{
    content: "";
    clear: both;
    display: table;
}

html{
    font-family: 'Fredoka', sans-serif;
}

h1{
    color: #E53170;
    text-transform: capitalize;
    margin-block: 20px;
}

main{
    width: 60%;
    margin: 0 auto;
}

p{
    margin-bottom: 50px;
}

h1, p{
    text-align: center;
}

.profile-picture > img{
    height: 100px;
}

.card-left{
    margin-right: 45px;
}

.card-right{
    float: right;
}

.card-left, .card-right{
    width: calc(100% / 3 - 30px);
    height: 100px;
    background-color: #0F0E17;
    margin-bottom: 45px;
}

.card-left, .info, .profile-picture > img{
    float: left;
}

.info{
    color: white;
    margin: 10px;
    line-height: 150%;
}

.name{
    font-weight: bolder;
    font-size: 20px;
    text-transform: uppercase;
}

.job{
    font-size: 14px;
}

address{
    color: #2AB6E8;
}