*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.clearfix::after{
    content: "";
    clear: both;
    display: table;
}

html{
    font-family: sans-serif;
}

h1{
    color: #E53170;
    text-transform: capitalize;
    text-align: center;
    margin-block: 20px;
}

main{
    width: 60%;
    margin: 0 auto;
}

p{
    text-align: center;
    margin-bottom: 50px;
}

.profile-picture > img{
    height: 100px;
    float: left;
}

.card-left{
    width: calc(100% / 3 - 30px);
    height: 100px;
    background-color: #0F0E17;
    float: left;
    margin-right: 45px;
}

.card-right{
    width: calc(100% / 3 - 30px);
    height: 100px;
    background-color: #0F0E17;
    float: right;
}

.info{
    float: left;
    color: white;
    margin: 10px;
    line-height: 150%;
}